* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
    height: 110px;
    background-color: #7E1F86;
    border-bottom: solid #114B5F;
    color: #E4FDE1;
    text-align: center;
}

.main {
    padding: 0 4%;
    background-color: #038080;
    box-shadow: 0 0 150px #7E1F86;
}

.instrucciones {
    background-color: #7E1F86;
    color: white;
    border-radius: 10px;
    padding-top: 2%;
}

.instrucciones>h4 {
    margin-bottom: 50%;
}

.selector {
    padding-top: 10%;
    background-color: #7E1F86;
    color: #E4FDE1;
    border-radius: 10px;
}

.btnSelector {
    margin-top: 20%;
    padding: 3%;
    border-radius: 20px;
    background-color: #114B5F;
    color: white
}

.btnSelector:hover {
    margin-top: 20%;
    padding: 3%;
    border-radius: 20px;
    background-color: white;
    color: #114B5F;
}

.btnAside {
    background-color: #114B5F;
    color: white;
    border-radius: 10px;
    padding: 5px;

}

.btnAside>a {
    color: white;
    text-decoration: none;
}

.btnAside:hover {
    background-color: #092933;
    color: white;
}

.btnAside>a:hover {
    background-color: #092933;
    color: white;
    border-radius: 20px;
    text-decoration: none;
}

.btnAside1 {
    width: 7%;
    background-color: #114B5F;
    color: white;
    border-radius: 10px;
    padding: 5px;
}

.btnAside1>a {
    color: white;
    text-decoration: none;
}

.btnAside1:hover {
    background-color: #092933;
    text-decoration: none;
}

.btnAside1>a:hover {
    color: white;
    background-color: #092933;
    border-radius: 20px;
    text-decoration: none;
}

.tg {
    border-collapse: collapse;
    border-spacing: 0;
}

.tg td {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}

.tg th {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}

.tg .tg-amwm {
    font-weight: bold;
    text-align: center;
    vertical-align: top;
    cursor: pointer;

}

.tg .tg-amwm:hover {
    transform: scale(1.1);
}

.salida {
    height: 80px;
    background-color: #7E1F86;
    border-bottom: solid #114B5F;
    color: white;
    text-align: center;
}